@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'Montserrat';
}

.title {
    font-family: 'Pacifico';
}

.title:hover {
    @apply text-blue-300
}

.primaryBg {
    @apply bg-gray-800;
}

.secondaryBg {
    @apply bg-gray-700;
}

.primaryText {
    @apply text-blue-600;
}

.secondaryText {
    @apply text-blue-300;
}

.particles {
    @apply absolute h-full w-full z-0;
}